.qrcode-container {

  background-color: var(--component-bg);
  max-width: 300px;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 0.75rem;
  text-align: center;

  .image-container {
    background-color: #2c7dfa;
    padding: 1.5rem 0.5rem;
    display: flex;
    justify-content: center;
    border-radius: 0.5rem;
    position: relative;
    z-index: 1;
    overflow: hidden;

    &:before {
      content: "";
      position: absolute;
      height: 250px;
      width: 250px;
      border-radius: 100%;
      background-color: hsl(0, 0%, 100%, 0.1);
      top: -100px;
      left: -100px;
      z-index: -1;
    }

    &:after {
      content: "";
      position: absolute;
      height: 350px;
      width: 350px;
      border-radius: 100%;
      background-color: hsl(0, 0%, 100%, 0.1);
      top: 80px;
      left: 80px;
      z-index: -1;
    }
  }

  .url-input-container {
    padding: 0.75rem 0;
  }

  input {
    width: 100%;
    border-radius: 0.5rem;
    padding: 0.25rem;
  }

  h1 {
    color: var(--header-color);
    font-weight: 700;
    line-height: 30px;
    font-size: 1.5rem;
  }

  p {
    color: var(--paragraph-color);
    font-weight: 400;
    padding: 1rem 0;
  }
}